<h3 mat-dialog-title color="primary">AFECTACIÓN ISC - {{title}}</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="14">
                <input matInput placeholder="CÓDIGO" maxlength="2" formControlName="code" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-6" [style.fontSize.px]="14">
                <input matInput placeholder="NOMBRE" maxlength="100" formControlName="name" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="14">
                <input matInput placeholder="TASA" maxlength="5" formControlName="tax" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <div class="col-xs-12 col-md-2" fxLayoutAlign="end center">
                <mat-slide-toggle formControlName="isactive" color="primary">
                    Estado
                </mat-slide-toggle>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>