<mat-card>
    <mat-card-header>
        <mat-card-title>
            BIENVENIDO - ERP INNOVAR
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-form-field class="col-xs-12 col-md-12">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="col-xs-12 col-md-12 mat-elevation-z8">
            'emissiondate', 'clientcode', 'cointypecode',
            <ng-container matColumnDef="serie">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SERIE - NÚMERO </th>
                <td mat-cell *matCellDef="let element"> {{element.serie}} - {{element.number}} </td>
            </ng-container>
            <ng-container matColumnDef="emissiondate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA EMISIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.emissiondate | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
            </ng-container>
            <ng-container matColumnDef="clientcode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE </th>
                <td mat-cell *matCellDef="let element"> {{element.clientcode}} </td>
            </ng-container>
            <ng-container matColumnDef="cointypecode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MONEDA </th>
                <td mat-cell *matCellDef="let element"> {{element.cointypecode}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                <td mat-cell *matCellDef="let element">
                    <div [ngSwitch]=element.isactive>
                        <p *ngSwitchCase=true>
                            <font color="green"> ACTIVO </font>
                        </p>
                        <p *ngSwitchCase=false>
                            <font color="red"> DESACTIVO </font>
                        </p>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>