<mat-card>
    <form [formGroup]="form">
        <mat-card-header>
            <mat-card-title class="card-container-right">
                <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                    <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="12" appearance="outline">
                        <mat-label>Serie</mat-label>
                        <mat-select (selectionChange)="setNumber()" formControlName="serie" required>
                            <mat-option *ngFor="let serie of series" [value]="serie.seriecode">
                                {{serie.seriecode}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Seleccione algún valor</mat-error>
                    </mat-form-field>
                    <div class="col-xs-12 col-md-2" fxLayoutAlign="start center">
                        <h4>- {{num}}</h4>
                    </div>
                    <div class="col-xs-12 col-md-4"></div>
                    <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="12" appearance="outline">
                        <mat-label>Moneda</mat-label>
                        <mat-select formControlName="cointypecode" required>
                            <mat-option *ngFor="let coin of coins" [value]="coin.code">
                                {{coin.code}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Seleccione algún valor</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="12" appearance="outline">
                        <mat-label>Fecha </mat-label>
                        <input matInput [matDatepicker]="date" placeholder="Fecha" formControlName="emissiondate" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date disabled="true"></mat-datepicker>
                        <mat-error>Seleccione un valor</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
                <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" class="col-xs-12 col-md-5">
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo Documento de Identidad</mat-label>
                        <mat-select formControlName="documentidcode">
                            <mat-option *ngFor="let document of documents" [value]="document.code">
                                <small> {{document.name}} </small>
                            </mat-option>
                        </mat-select>
                        <mat-error>Seleccione algún valor</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Razón Social/ Apellidos y Nombres</mat-label>
                        <input matInput formControlName="clientname" type="text" readonly onkeyup="this.value = this.value.toUpperCase();">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <mat-select formControlName="addressclient">
                            <mat-option *ngFor="let address of addressPerson" [value]="address.id">
                                ({{address.districtcode}}) {{address.roadname}} {{address.number}} {{ address.square}} - {{address.zonename}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" class="col-xs-12 col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Número Documento Identidad</mat-label>
                        <input matInput (keyup)="getClient()" formControlName="documentidnumber" minlength="11" maxlength="11" required onkeyup="this.value = this.value.toUpperCase();">
                        <mat-hint> {{ hint }} </mat-hint>
                    </mat-form-field>
                    <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" class="col-xs-12 col-md-8">
                        <button mat-flat-button color="primary" matTooltip="Nuevo cliente" (click)="addClient()"><mat-icon>person_add</mat-icon> Nuevo cliente</button> <br>
                        <button mat-flat-button color="accent" matTooltip="Limpiar" (click)="cleanClient()"><mat-icon>person_add_disabled</mat-icon> Limpiar </button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="addItem()">
                    <mat-icon>visibility</mat-icon> Buscar Producto</button>
            </div>
            <br>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
                <table mat-table [dataSource]="dataSource" class="col-xs-12 col-md-12 mat-elevation-z8">

                    <ng-container matColumnDef="number">
                        <th mat-header-cell fxFlex="5%" *matHeaderCellDef fxLayoutAlign="start center"> Nro </th>
                        <td mat-cell fxFlex="5%" *matCellDef="let item; let i = index" fxLayoutAlign="start center"> {{i + 1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell fxFlex="35%" *matHeaderCellDef fxLayoutAlign="start center"> Denominación </th>
                        <td mat-cell fxFlex="35%" *matCellDef="let item" fxLayoutAlign="start center"> {{item.product.denomination}} </td>
                    </ng-container>
                    <ng-container matColumnDef="unitsaleprice">
                        <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="end center"> Precio Unitario </th>
                        <td mat-cell fxFlex="10%" *matCellDef="let item" fxLayoutAlign="end center"> {{item.product.productPriceDto.unitsaleprice | currency:'S/ '}} </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="center center"> Cantidad </th>
                        <td mat-cell fxFlex="10%" *matCellDef="let item" fxLayoutAlign="center center"> {{item.quantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="salevalue">
                        <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="end center"> Valor Venta </th>
                        <td mat-cell fxFlex="10%" *matCellDef="let item" fxLayoutAlign="end center"> {{item.product.productPriceDto.unitsalevalue * item.quantity| currency:'S/ '}} </td>
                    </ng-container>
                    <ng-container matColumnDef="igv">
                        <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="center center"> IGV </th>
                        <td mat-cell fxFlex="10%" *matCellDef="let item" fxLayoutAlign="end center"> {{ setIGV(item.product.productPriceTaxDtos,item.quantity)| currency:'S/ '}} </td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="center center"> Importe </th>
                        <td mat-cell fxFlex="10%" *matCellDef="let item" fxLayoutAlign="end center"> {{item.quantity * item.product.productPriceDto.unitsaleprice | currency:'S/ '}} </td>
                    </ng-container>
                    <ng-container matColumnDef="button">
                        <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="end center"> </th>
                        <td mat-cell fxFlex="10%" *matCellDef="let element; let i = index" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="deleteItem(i)" matTooltip="Quitar" color="accent">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
                </table>
            </div>
            <br>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="end">
                <div class="col-xs-12 col-md-4">
                    <mat-label fxLayoutAlign="end"><strong>OPERACIÓN GRAVADA</strong> &nbsp; &nbsp; &nbsp; {{getOpGravada() | currency: 'S/ '}}</mat-label>
                    <mat-label fxLayoutAlign="end"><strong>DESCUENTOS</strong> &nbsp; &nbsp; &nbsp; {{subDesct | currency: 'S/ '}}</mat-label>
                    <mat-label fxLayoutAlign="end"><strong>CARGOS</strong> &nbsp; &nbsp; &nbsp; {{subCharge | currency: 'S/ '}}</mat-label>
                    <mat-label fxLayoutAlign="end"><strong>ISC.</strong> &nbsp; &nbsp; &nbsp; {{subISC | currency: 'S/ '}}</mat-label>
                    <mat-label fxLayoutAlign="end"><strong>IVAP</strong> &nbsp; &nbsp; &nbsp; {{subIVAP | currency: 'S/ '}}</mat-label>
                    <mat-label fxLayoutAlign="end"><strong>OTROS TRIBUTOS</strong> &nbsp; &nbsp; &nbsp; {{subOTH | currency: 'S/ '}}</mat-label>
                    <mat-label fxLayoutAlign="end"><strong>IGV. (18%)</strong> &nbsp; &nbsp; &nbsp; {{subIGV | currency: 'S/ '}}</mat-label>
                    <mat-label fxLayoutAlign="end"><strong>IMPORTE TOTAL</strong> &nbsp; &nbsp; &nbsp;<strong>{{getTotalCost() | currency: 'S/ '}}</strong></mat-label>
                </div>
            </div>
        </mat-card-content>
    </form>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayoutAlign="end">
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()"><mat-icon>save</mat-icon> Grabar</button>
        <button mat-button color="accent" (click)="clean()"><mat-icon>delete</mat-icon> Limpiar</button>
        <button mat-button color="primary" (click)="returnDash()"><mat-icon>exit_to_app</mat-icon> Cancelar </button>
    </mat-card-actions>
</mat-card>