<h3 mat-dialog-title color="primary">AÑADIR CARGO/DESCUENTO PRODUCTO</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-6">
                <mat-label> Tipo de Cargo/Descuento </mat-label>
                <mat-select formControlName="discountchargetypecode">
                    <mat-option *ngFor="let discountchargetype of discountchargetypes" [value]="discountchargetype">
                        {{discountchargetype.code}}-{{discountchargetype.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-3" appearance="outline">
                <mat-label>Monto</mat-label>
                <input matInput type="number" min=0 class="amount-right-align" formControlName="unitchargediscountamount" onkeyup="this.value = this.value.toUpperCase();">
                <span matPrefix>S/&nbsp;</span>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>