<h3 mat-dialog-title color="primary">TELÉFONO-{{title}}</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-3">
                <mat-label>TIPO DE TELÉFONO</mat-label>
                <mat-select (selectionChange)="getTelephoneTypes()" formControlName="telephoneTypeCode" name="phonetype" required>
                    <mat-option *ngFor="let phonetype of phonetypes" [value]="phonetype.code">
                        {{phonetype.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-5">
                <span matPrefix>+51 &nbsp;</span>
                <input matInput placeholder="NÚMERO" maxlength="9" formControlName="number" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-4">
                <input matInput placeholder="ANEXO" maxlength="4" formControlName="extension" onkeyup="this.value = this.value.toUpperCase();">
                <mat-icon matSuffix>dialpad</mat-icon>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>