<mat-card>
    <form [formGroup]="form">
        <mat-card-header>
            <mat-form-field class="col-7">
                <mat-label>Cargar datos de un archivo excel</mat-label>
                <ngx-mat-file-input #file formControlName="file" (change)="onFileChange($event)" multiple="false" [accept]="'.xlsx'" required></ngx-mat-file-input>
                <mat-icon matSuffix *ngIf="file.empty">folder</mat-icon>
                <mat-error *ngIf="form.get('file').hasError('required')">
                    Por favor seleccione un archivo
                </mat-error>
                <button mat-icon-button matSuffix *ngIf="!file.empty" (click)="file.clear($event)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
            <div class="col-5" style="text-align: center;">
                <button mat-raised-button color="primary" (click)="addItem()" [hidden]="!file.empty">  <mat-icon>plus_one</mat-icon>AGREGAR NUEVO</button>
            </div>
        </mat-card-header>
    </form>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-form-field class="col-12" [hidden]="!file.empty">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="col-12 mat-elevation-z8" [hidden]="!file.empty">
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CÓDIGO </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>
            <ng-container matColumnDef="abbreviation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ABREVIACIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.abbreviation}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]=element.isactive color="primary" [disabled]=true> </mat-slide-toggle>
                </td>
            </ng-container>
            <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                    <button mat-icon-button (click)="updateItem(element)" matTooltip="Editar" color="accent">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteItem(element)" matTooltip="Deshabilitar" color="accent">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [hidden]="!file.empty" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <app-sheet *ngIf="!file.empty" [rows]="listItemNew"></app-sheet>
    <mat-divider></mat-divider>
    <mat-card-actions style="text-align: right;">
        <button *ngIf="!file.empty" mat-button (click)="onSubmit();file.clear($event)" matTooltip="Actualizar" color="primary"> 
                <mat-icon>system_update_alt</mat-icon> Actualizar
            </button>
        <button *ngIf="!file.empty" mat-button (click)="file.clear($event)" matTooltip="Cancelar" color="primary"> 
                <mat-icon>cancel</mat-icon>Cancelar
            </button>
        <button [hidden]="!file.empty" mat-button (click)="returnDash()" matTooltip="Regresar" color="primary"> 
                <mat-icon>exit_to_app</mat-icon> Regresar
            </button>
    </mat-card-actions>
</mat-card>