<mat-card>
    <mat-card-header>
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <div fxFlex="50%" fxFlex.xs="50%">
                <button mat-raised-button color="primary" (click)="addItem()"><mat-icon>plus_one</mat-icon>AGREGAR NUEVO</button>
            </div>
        </div>
    </mat-card-header>
    <br>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-12">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" onkeyup="this.value = this.value.toUpperCase();">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="row">
            <diV fxFlex="100%">
                <table mat-table [dataSource]="dataSource" matSort class="col-12 mat-elevation-z8">
                    <ng-container matColumnDef="document">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>NRO. DOC. IDENTIDAD</th>
                        <td mat-cell *matCellDef="let element"> {{element.documentidnumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE PROVEEDOR </th>
                        <td mat-cell *matCellDef="let element"> {{element.providertype}} </td>
                    </ng-container>
                    <ng-container matColumnDef="button">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            <button mat-icon-button (click)="viewItem(element)" matTooltip="Ver" color="accent">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button (click)="updateItem(element)" matTooltip="Editar" color="accent">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteItem(element)" matTooltip="Deshabilitar" color="accent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </diV>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions style="text-align: right;">
        <button mat-button (click)="returnDash()" matTooltip="Regresar" color="primary"> 
            <mat-icon>exit_to_app</mat-icon> Regresar
        </button>
    </mat-card-actions>
</mat-card>