<mat-card>
    <mat-card-header>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="addItem()"><mat-icon>plus_one</mat-icon>AGREGAR NUEVO</button>
            </div>
        </div>
    </mat-card-header>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <mat-form-field class="col-12">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort class="col-12 mat-elevation-z8">
            <ng-container matColumnDef="code">
                <th mat-header-cell fxFlex="15%" *matHeaderCellDef fxLayoutAlign="start center" mat-sort-header> CÓDIGO PRODUCTO </th>
                <td mat-cell *matCellDef="let element" fxFlex="15%" fxLayoutAlign="start center"> {{element.code}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell fxFlex="35%" *matHeaderCellDef fxLayoutAlign="start center" mat-sort-header> DENOMINACIÓN </th>
                <td mat-cell *matCellDef="let element" fxFlex="35%" fxLayoutAlign="start center"> {{element.denomination}} </td>
            </ng-container>
            <ng-container matColumnDef="stock">
                <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="center center"> STOCK </th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="center center"> {{element.stock}} </td>
            </ng-container>
            <ng-container matColumnDef="saleprice">
                <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="center center"> PRECIO VENTA </th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="end center"> {{element.productPriceDto.unitsaleprice | currency:'S/ '}} </td>
            </ng-container>
            <ng-container matColumnDef="isactive">
                <th mat-header-cell fxFlex="10%" *matHeaderCellDef fxLayoutAlign="center center" mat-sort-header> ESTADO </th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="center center" [ngSwitch]=element.isactive>
                    <h6 *ngSwitchCase=true>
                        <font color="green"> ACTIVO </font>
                    </h6>
                    <h6 *ngSwitchCase=false>
                        <font color="red"> DESACTIVO </font>
                    </h6>
                </td>
            </ng-container>
            <ng-container matColumnDef="button">
                <th mat-header-cell fxFlex="20%" *matHeaderCellDef fxLayoutAlign="end center"> </th>
                <td mat-cell *matCellDef="let element" fxFlex="20%" fxLayoutAlign="end center">
                    <button mat-icon-button (click)="viewItem(element)" matTooltip="Ver" color="accent">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button (click)="updateItem(element)" matTooltip="Editar" color="accent">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteItem(element)" matTooltip="Deshabilitar" color="accent">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayoutAlign="end">
        <button mat-button (click)="returnDash()" matTooltip="Regresar" color="primary"> 
            <mat-icon>exit_to_app</mat-icon> Regresar
        </button>
    </mat-card-actions>
</mat-card>