<form [formGroup]="form">
    <div mat-dialog-title fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
        <h4 fxLayoutAlign="start center" class="col-xs-6 col-md-8" color="primary">DIRECCIÓN - {{title}}</h4>
        <mat-form-field class="col-xs-6 col-md-4">
            <mat-label class="small">TIPO DE DIRECCION</mat-label>
            <mat-select class="small" formControlName="addresstypecode" name="address" required>
                <mat-option *ngFor="let address of addresses" [value]="address.code">
                    {{address.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-dialog-content>
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
            <mat-form-field class="col-3">
                <mat-label>DEPARTAMENTO</mat-label>
                <mat-select (selectionChange)="getProvinces()" formControlName="departmentcode" name="departament" required>
                    <mat-option *ngFor="let departament of departments" [value]="departament.code">
                        {{departament.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-3">
                <mat-label>PROVINCIA</mat-label>
                <mat-select (selectionChange)="getDistricts()" formControlName="provincecode" name="province" required>
                    <mat-option *ngFor="let province of provinces" [value]="province.code">
                        {{province.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-3">
                <mat-label>DISTRITO</mat-label>
                <mat-select (selectionChange)="getUbigeo()" formControlName="districtcode" name="district" required>
                    <mat-option *ngFor="let district of districts" [value]="district.code">
                        {{district.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-3">
                <input matInput placeholder="UBIGEO" maxlength="6" formControlName="ubigeo">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
            <mat-form-field class="col-3">
                <mat-label>TIPO DE VIA</mat-label>
                <mat-select formControlName="roadtypecode" name="road" required>
                    <mat-option *ngFor="let road of roads" [value]="road.code">
                        {{road.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-3">
                <input matInput placeholder="NOMBRE DE VIA" maxlength="50" formControlName="roadname" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-2">
                <input matInput placeholder="NÚMERO" maxlength="5" formControlName="number" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-2">
                <input matInput placeholder="DPTO" maxlength="5" onkeyup="this.value = this.value.toUpperCase();" formControlName="apartment">
            </mat-form-field>
            <mat-form-field class="col-2">
                <input matInput placeholder="INT" maxlength="5" onkeyup="this.value = this.value.toUpperCase();" formControlName="inside">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
            <mat-form-field class="col-2">
                <input matInput placeholder="MZ&#185;" maxlength="5" formControlName="square" onkeyup="this.value = this.value.toUpperCase();"  >
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-2">
                <input matInput placeholder="LOTE" maxlength="5" formControlName="lot" onkeyup="this.value = this.value.toUpperCase();">
            </mat-form-field>
            <mat-form-field class="col-2">
                <input matInput placeholder="KM&#185;" maxlength="5" formControlName="km" onkeyup="this.value = this.value.toUpperCase();">
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-2">
                <input matInput placeholder="BLOQUE&#185;" maxlength="5" formControlName="block" onkeyup="this.value = this.value.toUpperCase();">
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-2">
                <input matInput placeholder="ETAPA" maxlength="5" formControlName="stage" onkeyup="this.value = this.value.toUpperCase();">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
            <mat-form-field class="col-6">
                <mat-label>TIPO DE ZONA</mat-label>
                <mat-select formControlName="zonetypecode" name="zone" required>
                    <mat-option *ngFor="let zone of zones" [value]="zone.code">
                        {{zone.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-6">
                <input matInput placeholder="NOMBRE DE ZONA" maxlength="100" formControlName="zonename" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
            <mat-form-field class="col-12">
                <input matInput placeholder="REFERENCIA" maxlength="150" formControlName="reference" onkeyup="this.value = this.value.toUpperCase();">
            </mat-form-field>
        </div>
        <mat-label class="small">
            <font color="red">* Campos obligatorios.</font>
        </mat-label> <br>
        <mat-label class="small"> &#185; Llenar uno o todos los campos, según corresponda.</mat-label>
    </mat-dialog-content>
</form>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>