<h3 mat-dialog-title color="primary">AÑADIR TRIBUTO PRODUCTO</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-4">
                <mat-label> Tipo de Tributo </mat-label>
                <mat-select (selectionChange)="changeTax()" formControlName="taxtypecode">
                    <mat-option *ngFor="let tax of taxes" [value]="tax">
                        {{tax.abbreviation}}-{{tax.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione algún valor</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="taxigv" class="col-xs-12 col-md-6">
                <mat-label> Afectación IGV </mat-label>
                <mat-select formControlName="igvinvolvementtypecode">
                    <mat-option *ngFor="let igvtype of igvinvolvementtypes" [value]="igvtype.code">
                        {{igvtype.code}}-{{igvtype.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione algún valor</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="taxisc" class="col-xs-12 col-md-6">
                <mat-label> Afectación ISC </mat-label>
                <mat-select formControlName="iscinvolvementtypecode">
                    <mat-option *ngFor="let isctype of iscinvolvementtypes" [value]="isctype.code">
                        {{isctype.code}}-{{isctype.name}} - {{isctype.tax}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-2" appearance="outline">
                <mat-label>Monto Tributo</mat-label>
                <input matInput type="number" min=0 class="amount-right-align" formControlName="unittaxamount">
                <span matPrefix>S/&nbsp;</span>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>