<h3 mat-dialog-title color="primary">DEPARTAMENTO-{{title}}</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-2">
                <input matInput placeholder="CÓDIGO" maxlength="2" formControlName="code" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-10">
                <input matInput placeholder="NOMBRE" maxlength="25" formControlName="name" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>