<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{{ title }}</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-themecolor" href="javascript:void(0)">Home</a>
            </li>
            <!-- <li class="breadcrumb-item">Persona </li> -->
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </div>
</div>