<mat-card>
    <form [formGroup]="form">
        <mat-card-header>
            <mat-card-title class="card-container-right" fxLayoutAlign="end">
                <mat-form-field class="col-xs-12 col-md-3" [style.fontSize.px]="14">
                    <mat-label>Tipo de Operacion</mat-label>
                    <mat-select formControlName="operationTypeCode" required>
                        <mat-option *ngFor="let operation of operations" [value]="operation.code">
                            <small>{{operation.code}} - {{operation.name}}</small>
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="14">
                    <mat-label>Moneda</mat-label>
                    <mat-select formControlName="coinCode" required>
                        <mat-option *ngFor="let coin of coins" [value]="coin.code">
                            {{coin.code}}-{{coin.badge}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="14">
                    <mat-label>Serie</mat-label>
                    <mat-select (selectionChange)="setSerie()" formControlName="seriesCode" required>
                        <mat-option *ngFor="let serie of series" [value]="serie.seriecode">
                            {{serie.seriecode}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-2" [style.fontSize.px]="14">
                    <mat-label>Fecha </mat-label>
                    <input matInput [matDatepicker]="date" placeholder="Fecha" formControlName="emissionDate" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date disabled="false"></mat-datepicker>
                    <mat-error>Seleccione un valor</mat-error>
                </mat-form-field>
            </mat-card-title>
            <mat-card-title class="card-container-left" [style.fontSize.px]="14">
                BOLETA ELECTRÓNICA <br> {{ serie }} - 000001
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Tipo Documento de Identidad</mat-label>
                    <mat-select formControlName="documentIdCode" required>
                        <mat-option *ngFor="let document of documents" [value]="document.code">
                            <small> {{document.code}} - {{document.name}} </small>
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <div class="col-xs-1 col-md-1"></div>
                <mat-form-field class="col-xs-12 col-md-3">
                    <input matInput placeholder="Número Documento Identidad" (keyup)="getClient()" formControlName="documentIdNumber" minlength="8" maxlength="11" onkeyup="this.value = this.value.toUpperCase();" required>
                    <mat-hint> {{ hint }} </mat-hint>
                    <!-- <mat-error>Ingrese un valor</mat-error> -->
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <div class="col-xs-12 col-md-5">
                    <p mat-line><small> Apellidos y Nombres / Razón Social </small>
                        <br> {{ client.name }}</p>
                </div>
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Dirección</mat-label>
                    <mat-select formControlName="addressClient">
                        <mat-option *ngFor="let address of addressPerson" [value]="address.id">
                            ({{address.districtcode}}) {{address.roadname}} {{address.number}} {{ address.square}} - {{address.zonename}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <div class="col-xs-4 col-md-3" fxLayoutAlign="end center">
                    <button mat-button color="accent" matTooltip="Cancelar" (click)="cleanClient()"><mat-icon>person_add_disabled</mat-icon>LIMPIAR</button>
                    <button mat-button color="primary" (click)="addClient()"><mat-icon>person_add</mat-icon>  NUEVO</button>
                </div>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="addItem()">AGREGAR PRODUCTO</button>
            </div>
            <br>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
                <table mat-table [dataSource]="dataSource" class="col-xs-12 col-md-12 mat-elevation-z8">
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef> N° </th>
                        <td mat-cell *matCellDef="let item; let i = index"> {{i + 1}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> Código </th>
                        <td mat-cell *matCellDef="let item"> {{item.code}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                        <td mat-cell *matCellDef="let item"> {{item.description}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                        <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> P.Unitario </th>
                        <td mat-cell *matCellDef="let item"> {{item.price | currency:'S/. '}} </td>
                        <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Importe </th>
                        <td mat-cell *matCellDef="let item" fxLayoutAlign.lt-md="center center"> {{item.quantity * item.price | currency:'S/. '}} </td>
                        <td mat-footer-cell *matFooterCellDef> <strong>{{getTotalCost() | currency: 'S/. '}}</strong></td>
                    </ng-container>
                    <ng-container matColumnDef="button">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element; let i = index" fxLayoutAlign="end">
                            <button mat-icon-button (click)="deleteItem(i)" matTooltip="Quitar" color="accent">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
        </mat-card-content>
    </form>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayoutAlign="end">
        <button mat-button>GUARDAR</button>
    </mat-card-actions>
</mat-card>