<mat-card>
    <form [formGroup]="form">
        <mat-card-header>
            <mat-card-title>
                <mat-icon>shopping_basket</mat-icon> PRODUCTO
            </mat-card-title>
            <div fxLayout="row" fxLayout.xs="column">
                <mat-slide-toggle formControlName="isactive" matTooltip="Estado" color="primary"></mat-slide-toggle>
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-2">
                    <input matInput placeholder="Código Producto" maxlength="10" formControlName="code" onkeyup="this.value = this.value.toUpperCase();" required>
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-3">
                    <input matInput placeholder="Código SUNAT" maxlength="24" formControlName="sunatcode" onkeyup="this.value = this.value.toUpperCase();">
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-3">
                    <input matInput placeholder="Código Barras" maxlength="25" formControlName="barcode" onkeyup="this.value = this.value.toUpperCase();">
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-3" fxLayoutAlign="end">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="categorycode" required>
                        <mat-option *ngFor="let category of categories" [value]="category.code">
                            {{category.code}}-{{category.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <div class="col-xs-1 col-md-1" fxLayoutAlign="end center">
                    <button mat-button matTooltip="Agregar Categoria" (click)="addCategory()" color="accent">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-12">
                    <input matInput placeholder="Denominación" maxlength="50" formControlName="denomination" onkeyup="this.value = this.value.toUpperCase();" required>
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-12">
                    <textarea matInput placeholder="Descripción" rows="4" maxlength="250" formControlName="description" onkeyup="this.value = this.value.toUpperCase();"> </textarea>
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-2">
                    <mat-label> Unidad de Medida </mat-label>
                    <mat-select formControlName="unitcode" required>
                        <mat-option *ngFor="let unit of measurementunits" [value]="unit.code">
                            {{unit.abbreviation}}-{{unit.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-2" appearance="outline">
                    <mat-label>Stock</mat-label>
                    <input matInput min="0" type="number" min=0 formControlName="stock" onkeyup="this.value = this.value.toUpperCase();" required>
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>
                <div class="col-xs-1 col-md-1"></div>
                <mat-form-field class="col-xs-12 col-md-3">
                    <mat-label> Tipo de Moneda </mat-label>
                    <mat-select formControlName="coincode" required>
                        <mat-option *ngFor="let coin of coins" [value]="coin.code">
                            {{coin.code}}-{{coin.badge}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <div class="col-xs-1 col-md-1"></div>
                <mat-form-field class="col-xs-12 col-md-2" appearance="outline">
                    <mat-label>Valor de Venta</mat-label>
                    <input matInput placeholder="0.00" type="number" min=0 class="amount-right-align" formControlName="unitsalevalue" (keyup)="setBaseAmount(); calculateSalePrice()">
                    <span matPrefix>S/&nbsp;</span>
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <div class="col-xs-11 col-md-11">
                    <mat-list>
                        <h4 mat-subheader>CARGO/DESCUENTO</h4>
                        <mat-list-item *ngFor="let temp of tempCD; let i = index">
                            <button mat-icon-button matTooltip="Eliminar" (click)="deleteCD(i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <p mat-line>{{temp.discountchargetypecode}} {{temp.name}} &nbsp;&nbsp; {{temp.unitchargediscountamount | currency: 'S/ '}}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div *ngIf="price" class="col-xs-1 col-md-1">
                    <button mat-button matTooltip="Agregar Cargo/Descuento" (click)="addChargeDiscount()" color="accent">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <div class="col-xs-11 col-md-11">
                    <mat-list>
                        <h4 mat-subheader>TRIBUTO</h4>
                        <mat-list-item *ngFor="let temptax of tempTaxes; let i = index">
                            <button mat-icon-button matTooltip="Eliminar" (click)="deleteTax(i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <p mat-line>{{temptax.taxtypecode}} {{temptax.taxabbreviation}} &nbsp;&nbsp; {{temptax.unittaxamount | currency: 'S/ '}}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div *ngIf="price" class="col-xs-1 col-md-1">
                    <button mat-button matTooltip="Agregar Tributo" (click)="addTax()" color="accent">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Tipo Precio de Venta Unit. </mat-label>
                    <mat-select formControlName="unitsalepricetypecode">
                        <mat-option *ngFor="let saleprice of unitsalepricetypes" [value]="saleprice.code">
                            {{saleprice.code}}-{{saleprice.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione algún valor</mat-error>
                </mat-form-field>
                <div class="col-xs-12 col-md-4"></div>
                <mat-form-field class="col-xs-12 col-md-2" appearance="fill">
                    <mat-label>Monto</mat-label>
                    <input matInput placeholder="Monto Base" type="number" min=0 class="amount-right-align" formControlName="unitbaseamount" readonly>
                    <span matPrefix>S/&nbsp;</span>
                </mat-form-field>
                <!-- <mat-form-field class="col-xs-12 col-md-2" appearance="fill">
                    <mat-label>IGV</mat-label>
                    <input matInput placeholder="IGV" type="number" min=0 class="amount-right-align" formControlName="unitigvamount" readonly>
                    <span matPrefix>S/&nbsp;</span>
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field> -->
                <mat-form-field class="col-xs-12 col-md-2" appearance="fill">
                    <mat-label>Precio de Venta</mat-label>
                    <input matInput placeholder="Precio de Venta" type="number" min=0 class="amount-right-align" formControlName="unitsaleprice" readonly>
                    <span matPrefix>S/&nbsp;</span>
                    <mat-error>Ingrese algún valor</mat-error>
                </mat-form-field>

            </div>
        </mat-card-content>
    </form>
    <mat-card-actions fxLayoutAlign="end">
        <button mat-raised-button color="primary" [disabled]="!form.valid" *ngIf="title != operationView" (click)="save()"> <mat-icon>business</mat-icon> {{title}} </button>
        <button *ngIf="title == operationNew" mat-button color="accent" (click)="clean()"> <mat-icon>delete</mat-icon>Limpiar</button>
        <button mat-button (click)="returnDash()" matTooltip="Regresar" color="primary"> 
            <mat-icon>exit_to_app</mat-icon> Cancelar
        </button>
    </mat-card-actions>
</mat-card>