#themecolors a {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-header-text {
    width: 100% !important;
}

.amount-right-align {
    text-align: right;
}

input.amount-right-align::-webkit-outer-spin-button,
input.amount-right-align::-webkit-inner-spin-button {
    display: none;
}

input.amount-right-align {
    -moz-appearance: textfield;
}