<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>business</mat-icon> REGISTRO DE EMPRESA</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="form">
        <mat-card-content>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Documento de Identidad </mat-label>
                    <mat-select formControlName="documentidcode" name="document" required>
                        <mat-option *ngFor="let document of documents" [value]="document.code">
                            {{document.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione un valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-4">
                    <input matInput #ruc placeholder="RUC" formControlName="documentidnumber" minlength=11 maxlength=11 onkeyup="this.value = this.value.toUpperCase();" required>
                    <mat-error align="start">Ingrese un valor correcto</mat-error>
                    <mat-hint align="end">{{ruc.value.length}} / 11</mat-hint>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label> Tipo de Contribuyente </mat-label>
                    <mat-select formControlName="taxpayertypecode" name="taxpayer" required>
                        <mat-option *ngFor="let taxpayer of taxpayers" [value]="taxpayer.code">
                            {{taxpayer.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione un valor</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-8">
                    <input matInput placeholder="Razón Social" formControlName="name" maxlength=80 type="text" onkeyup="this.value = this.value.toUpperCase();" required>
                    <mat-error>Ingrese un valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-4">
                    <input matInput placeholder="Nombre Comercial" formControlName="tradename" maxlength=100 type="text" onkeyup="this.value = this.value.toUpperCase();">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-list class="col-xs-12 col-md-8">
                    <h3 mat-subheader>Dirección</h3>
                    <mat-list-item *ngFor="let address of addresses; let i = index">
                        <mat-icon mat-list-icon>apartment</mat-icon>
                        <h4 mat-line>{{address.roadname}}</h4>
                        <p mat-line>{{address.zonename}} {{address.number}}</p>
                        <div class="col-xs-2 col-md-2" fxFlexAlign="center end">
                            <button mat-icon-button matTooltip="Eliminar" (click)="deleteAddress(address, i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                </mat-list>
                <div class="col-xs-2 col-md-4">
                    <button mat-button (click)="setAddress()" color="accent">Agregar dirección&nbsp;
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>

            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-list class="col-xs-10 col-md-8">
                    <h3 mat-subheader>Teléfono</h3>
                    <mat-list-item *ngFor="let phone of telephones; let i = index">
                        <mat-icon mat-list-icon>phone</mat-icon>
                        <h4 mat-line>{{phone.number.substr(0,3)}} - {{phone.number.substr(3,3)}} - {{phone.number.substr(6,3)}}</h4>
                        <p mat-line> ANEXO: {{phone.extension}} </p>
                        <div class="col-xs-2 col-md-2" fxFlexAlign="center end">
                            <button mat-icon-button matTooltip="Eliminar" (click)="deletePhone(phone, i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                </mat-list>
                <div class="col-xs-2 col-md-4">
                    <button mat-button (click)="setPhone()" color="accent">Agregar teléfono&nbsp;
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Estado de RUC </mat-label>
                    <mat-select formControlName="rucstatuscode" name="state" required>
                        <mat-option *ngFor="let state of states" [value]="state.code">
                            {{state.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione un valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Fecha de Inicio de Actividades </mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha" formControlName="activitystartdate" onkeyup="this.value = this.value.toUpperCase();" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                    <mat-error>Seleccione un valor</mat-error>
                </mat-form-field>
                <div class="col-xs-12 col-md-4" fxLayoutAlign="start center">
                    <mat-label>Régimen Tributario*</mat-label><br>
                    <mat-radio-group formControlName="taxregimecode" required>
                        <mat-radio-button *ngFor="let taxregime of taxregimes" [value]="taxregime.code">
                            {{taxregime.abbreviation}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Condición de Domicilio Fiscal</mat-label>
                    <mat-select formControlName="fiscaladdressconditionstypecode" name="condition"  required>
                        <mat-option *ngFor="let condition of conditions" [value]="condition.code">
                            {{condition.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Seleccione un valor</mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-md-4">
                    <mat-label>Emisor electrónico desde </mat-label>
                    <input matInput [matDatepicker]="transmitter" placeholder="Seleccione una fecha" formControlName="electronictransmitterdate" onkeyup="this.value = this.value.toUpperCase();" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="transmitter"></mat-datepicker-toggle>
                    <mat-datepicker #transmitter disabled="false"></mat-datepicker>
                    <mat-error>Seleccione un valor</mat-error>
                </mat-form-field>
                <div class="col-xs-12 col-md-4" fxLayoutAlign="start center">
                    <mat-slide-toggle formControlName="foreigntradeactivityflag" color="accent">
                        Actividad de Comercio Exterior
                    </mat-slide-toggle>
                </div>
            </div>
            <br>
            <mat-divider></mat-divider>
            <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Actividad Económica</ng-template>
                    <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
                        <mat-form-field class="col-xs-10 col-md-10">
                            <mat-label>Actividad Económica </mat-label>
                            <mat-select (selectionChange)="listEconomicActivities()" formControlName="activityEconomic" name="activity" id="activity" required multiple>
                                <mat-option *ngFor="let activity of economicActivities" [value]="activity">
                                    {{activity.code}} - {{activity.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Seleccione un valor</mat-error>
                        </mat-form-field>
                        <div class="col-xs-1 col-md-1">
                            <button mat-mini-fab color="primary" (click)="addActivity()" matTooltip="Nueva Actividad Economica"> <mat-icon>add</mat-icon> </button>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
                        <mat-list>
                            <mat-list-item *ngFor="let activity of activities">
                                {{activity.code}} - {{activity.name}}
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div fxLayoutAlign="end">
                        <button mat-button color="accent" matStepperNext>Siguiente <mat-icon> chevron_right </mat-icon> </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Padrones </ng-template>
                    <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
                        <table class="col-xs-11 col-md-11" mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> PADRONES </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayColumns;" (click)="selection.toggle(row)">
                            </tr>
                        </table>
                        <div class="col-xs-1 col-md-1">
                            <button mat-mini-fab color="primary" (click)="addPatterns()" matTooltip="Agregar nuevo padrón">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div fxLayoutAlign="end">
                        <button mat-button color="accent" matStepperPrevious><mat-icon>chevron_left</mat-icon> Atrás</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card-content>
    </form>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayoutAlign="end">
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()"> <mat-icon>business</mat-icon> GUARDAR </button>
        <button mat-button color="accent" (click)="clean()"> <mat-icon>delete</mat-icon> LIMPIAR</button>
        <button mat-button (click)="clean()" color="primary"> <mat-icon>exit_to_app</mat-icon> CANCELAR</button>
    </mat-card-actions>
</mat-card>