<h3 mat-dialog-title color="primary">BUSCAR PRODUCTO</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
            <mat-form-field class="col-xs-10 col-md-10">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
            <mat-form-field class="col-xs-2 col-md-2">
                <input matInput placeholder="Cantidad" formControlName="quantity" min=1 type="number" required>
                <mat-error>Ingrese un valor</mat-error>
            </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="col-12 mat-elevation-z8">
            <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox> 
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CÓDIGO </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DENOMINACIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.denomination}} </td>
            </ng-container>
            <ng-container matColumnDef="saleprice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO DE VENTA </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.productPriceDto.unitsaleprice | currency:'S/. '}} </td>
            </ng-container>
            <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                    <button mat-icon-button (click)="addItem(element)" matTooltip="Agregar Producto" color="primary">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button [mat-dialog-close]="true" style="text-align: right;" color="accent">CERRAR</button>
</mat-dialog-actions>