<h3 mat-dialog-title color="primary">CLIENTE-{{title}}</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row">
            <mat-form-field class="col-xs-12 col-md-4">
                <mat-label>Documento de Identidad </mat-label>
                <mat-select (selectionChange)="changeName()" formControlName="documentidcode" name="document" required>
                    <mat-option *ngFor="let document of documents" [value]="document.code">
                        {{document.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-4">
                <input matInput placeholder="Número Documento de Identidad" formControlName="documentidnumber" minlength="8" maxlength=11 required>
                <mat-error>Ingrese un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-4">
                <mat-label>Tipo de Cliente</mat-label>
                <mat-select formControlName="clienttype" required>
                    <mat-option value="P">PERSONA</mat-option>
                    <mat-option value="C">EMPRESA</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div *ngIf="clientCompany" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-8">
                <input matInput placeholder="Razón Social" formControlName="razon" maxlength=80 type="text" required>
                <mat-error>Ingrese un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-4">
                <mat-label> Tipo de Contribuyente </mat-label>
                <mat-select formControlName="taxpayertypecode" name="taxpayer" required>
                    <mat-option *ngFor="let taxpayer of taxpayers" [value]="taxpayer.code">
                        {{taxpayer.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Seleccione un valor</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="clientCompany" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-8">
                <input matInput placeholder="Nombre Comercial" formControlName="tradename" maxlength=100 type="text">
            </mat-form-field>
            <div class="col-xs-12 col-md-4" fxLayoutAlign="start center">
                <mat-slide-toggle formControlName="foreigntradeactivityflag" color="accent">
                    Actividad de Comercio Exterior
                </mat-slide-toggle>
            </div>
        </div>
        <!-- Cuando se seleccione DNI como documento de idenidad -->
        <div *ngIf="!clientCompany" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field class="col-xs-12 col-md-4">
                <input matInput placeholder="Apellido Paterno" formControlName="lastname1" maxlength=80 type="text">
                <mat-error>Ingrese un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-4">
                <input matInput placeholder="Apellido Materno" formControlName="lastname2" maxlength=80 type="text">
                <mat-error>Ingrese un valor</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-md-4">
                <input matInput placeholder="Nombres" formControlName="names" maxlength=80 type="text">
                <mat-error>Ingrese un valor</mat-error>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <mat-tab-group>
            <mat-tab label="Direcciones">
                <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                    <mat-list class="col-xs-12 col-md-8">
                        <mat-list-item *ngFor="let address of addresses; let i = index">
                            <mat-icon mat-list-icon>apartment</mat-icon>
                            <h4 mat-line>{{address.roadname}}</h4>
                            <p mat-line>{{address.zonename}} {{address.number}}</p>
                            <div class="col-xs-2 col-md-1" fxFlexAlign="center end">
                                <button mat-icon-button matTooltip="Eliminar" (click)="deleteAddress(address, i)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <div class="col-xs-2 col-md-4" fxFlexAlign="end">
                        <button *ngIf="title != operationView && title != operationDelete" mat-button (click)="setAddress()" color="accent">Agregar dirección&nbsp;
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Teléfonos">
                <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                    <mat-list class="col-xs-10 col-md-8">
                        <mat-list-item *ngFor="let phone of telephones; let i = index">
                            <mat-icon mat-list-icon>phone</mat-icon>
                            <h4 mat-line>{{phone.number.substr(0,3)}} - {{phone.number.substr(3,3)}} - {{phone.number.substr(6,3)}}</h4>
                            <p mat-line> ANEXO: {{phone.extension}} </p>
                            <div class="col-xs-2 col-md-2" fxFlexAlign="center end">
                                <button mat-icon-button matTooltip="Eliminar" (click)="deletePhone(phone, i)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <div class="col-xs-2 col-md-4" fxFlexAlign="end">
                        <button *ngIf="title != operationView && title != operationDelete" mat-button (click)="setPhone()" color="accent">Agregar teléfono&nbsp;
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>