<h3 mat-dialog-title color="primary">ESTADO DE RUC-{{title}}</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="row">
            <mat-form-field class=" col-xs-12 col-md-3">
                <input matInput placeholder="CÓDIGO" maxlength="3" formControlName="code" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <mat-form-field class=" col-xs-12 col-md-7">
                <input matInput placeholder="NOMBRE" maxlength="25" formControlName="name" onkeyup="this.value = this.value.toUpperCase();" required>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
            <div class="col-xs-12 col-md-2" fxLayoutAlign="end center">
                <mat-slide-toggle formControlName="isactive" color="primary">
                    Estado
                </mat-slide-toggle>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <mat-form-field class=" col-xs-12 col-md-12">
                <textarea matInput placeholder="CONCEPTO" maxlength="200" formControlName="concept" onkeyup="this.value = this.value.toUpperCase();"></textarea>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <mat-form-field class=" col-xs-12 col-md-12">
                <textarea matInput placeholder="ACCIONES A REALIZAR" maxlength="400" formControlName="action" onkeyup="this.value = this.value.toUpperCase();"></textarea>
                <mat-error>Ingrese algún valor</mat-error>
            </mat-form-field>
        </div>
        <!-- <app-processing [showProcessing]="showProcessing"></app-processing> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="save()" [disabled]="!form.valid" *ngIf="title != operationView">{{title}}</button>
    <button mat-button [mat-dialog-close]="true" style="text-align: right;">CANCELAR</button>
</mat-dialog-actions>